.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;

  @media(min-width: 500px) {
    width: auto;
  }
}

.NavigationItem__link {
  color: #000;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
  display: block;
  width: 100%;

  @media(min-width: 500px) {
    width: auto;
    color: #fff;
  }
}

.NavigationItem__link:hover,
.NavigationItem__link:active,
.NavigationItem__link.active {
  background: #8f5c2c;
  border-bottom-color: #40a4c8;
  color: #000;

  @media(min-width: 500px) {
    color: #fff;
  }
}